In [70]:
import pandas as pd
import numpy as np

In [71]:
ds1 = pd.read_csv('data/21600-0001-Data.tsv',sep='\t')
ds5 = pd.read_csv('data/21600-0005-Data.tsv',sep='\t')
ds8 = pd.read_csv('data/21600-0008-Data.tsv',sep='\t')
ds22 = pd.read_csv('data/21600-0022-Data.tsv',sep='\t')

/Users/lucasrosenblatt/opt/miniconda3/envs/heuristic_fairness/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (6,12,55,124,125,167,195,196,197,198,336,356,513,522,523,743,745,746,832,833,837,838,839,846,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,956,957,964,969,970,972,976,977,979,981,982,984,1000,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1063,1065,1068,1069,1070,1071,1074,1075,1076,1077,1078,1081,1082,1083,1084,1085,1087,1088,1089,1109,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1174,1175,1176,1177,1180,1181,1182,1183,1184,1187,1188,1189,1190,1191,1209,1211,1212,1225,1226,1227,1228,1229,1230,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1290,1292,1373,1374,1379,1380,1396,1397,1398,1399,1400,1401,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1466,1467,1468,1469,1472,1473,1474,1475,1476,1479,1480,1481,1482,1483,1544,1545,1572,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1637,1638,1639,1640,1643,1644,1645,1646,1647,1650,1651,1652,1653,1654,1715,1716,1747,1748,1749,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1865,1866,1867,1875,1876,1877,2001,2002,2003,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/lucasrosenblatt/opt/miniconda3/envs/heuristic_fairness/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (7,58,137,227,232,509,588,589,590,591,592,593,594,598,790,791,796,797,804,825,826,845,846,848,849,857,858,919,921,1066,1067,1068,1072,1073,1074,1079,1080,1081,1208,1209,1210,1214,1215,1216,1221,1222,1223,1226,1268,1269,1360,1362,1364,1410,1461,1463,1484,1620,1621,1622,1627,1628,1629,1713,1714,1715,1719,1720,1721,1726,1727,1728,1731,1874,1875,1876,1966,1967,1968,1973,1974,1975,2033,2035,2036,2115,2116,2117,2118,2119,2152,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2212,2213,2214,2421,2422,2423,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/lucasrosenblatt/opt/miniconda3/envs/heuristic_fairness/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (80,87,92,97,181,182,183,184,186,187,188,189,190,191,192,193,194,201,202,203,204,205,206,207,208,209,210,214,220,221,222,232,246,247,259,268,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,368,369,375,381,392,393,404,405,407,416,417,428,429,440,441,452,453,464,465,476,477,484,485,486,487,488,489,490,491,492,493,494,497,498,499,500,501,502,503,504,505,506,509,510,512,513,514,515,516,517,518,521,522,523,524,525,526,527,528,529,530,531,532,533,534,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,641,642,651,652,662,665,685,688,691,748,749,750,751,754,755,766,937,938,939,970,971,973,974,975,976,977,978,979,980,981,983,984,985,986,987,988,989,990,991,1072,1073,1077,1078,1079,1080,1081,1083,1084,1085,1086,1087,1088,1089,1090,1092,1094,1095,1096,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1182,1183,1184,1185,1186,1187,1188,1189,1259,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1765,1766,1798,1799,1800,1801,1802,1803,1804,1805,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/lucasrosenblatt/opt/miniconda3/envs/heuristic_fairness/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (69,72,73,85,86,87,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,334,335,336,337,338,339,340,342,343,344,345,346,347,348,349,350,351,352,353,354,355,387,388,389,399,400,401,428,429,430,431,432,433,445,446,505,511,518,519,601,673,674,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [72]:
df_map = {'ds1': ds1, 'ds5': ds5, 'ds8': ds8, 'ds22': ds22}

time_map = {'ds1': 0, 'ds5': 1, 'ds8': 6, 'ds22': 13}

column_map = {
    'ds1': {
        'H1TO32': 'marijuana_1',
        'H1TO15': 'alcohol_1',
        'H1TO40': 'drugs_1',
        'H1DS2': 'behavior_1',
        'H1GI18': 'attendance_1',
        'H1TO7': 'smoking_1',
        'S1': 'age_1',
        'BIO_SEX': 'sex_1',
        'S6C': 'asian_1',
        'S6B': 'black_1',
        'S6A': 'white_1',
        'S6D': 'nativeamerican_1',
        'S6E': 'other_1'
        #'S4': 'hispanic_1'
    },
    'ds5': {
        'H2TO46': 'marijuana_2',
        'H2TO19': 'alcohol_2',
        'H2TO58': 'drugs_2',
        'H2DS2': 'behavior_2',
        'H2GI6': 'attendance_2',
        'H2TO7': 'smoking_2',
        'CALCAGE2': 'age_2',
        'BIO_SEX2': 'sex_2',
    },
    'ds8': {
        'H3TO110': 'marijuana_3',
        'H3TO38': 'alcohol_3',
        'H3TO117': 'drugs_3',
        'H3DS1': 'behavior_3',
        'H3ED23': 'attendance_3',
        'H3TO10': 'smoking_3',
        'FRIEND': 'age_3', # not actual column
        'BIO_SEX3': 'sex_3',
        'H3OD2': 'hispanic_3'
    },
    'ds22': {
        'H4TO71': 'marijuana_4',
        'H4TO35': 'alcohol_4',
        'H4TO65E': 'drugs_4',
        'H4DS1': 'behavior_4',
        'H4ED6': 'attendance_4',
        'H4TO6': 'smoking_4',
        'PRISON4': 'age_4', # not actual column
        'BIO_SEX4': 'sex_4',
    },
}

In [73]:
dfs = []
new_df_map = {}
for i, (wave, cols) in enumerate(column_map.items()):
    df = df_map[wave]
    df = df[['AID'] + list(cols.keys())]
    df = df.rename(cols, axis=1)
    df = df.set_index('AID')
    df['time_'+str(i+1)] = time_map[wave]
    dfs.append(df)
    new_df_map[wave] = df
    
full_df = pd.concat(dfs, axis=1, join='inner').reset_index()

For small categories, these are missing values
- 6  
- 7 (legitimate skip)
- 8

For medium categories, these are missing values
- 96  
- 97 (legitimate skip)
- 98

For large categories, these are missing values
- 996 
- 997 (legitimate skip)
- 998

In [74]:
# Paper says n=6504, first wave table
new_df_map['ds1'].describe()

,marijuana_1,alcohol_1,behavior_1,attendance_1,smoking_1,sex_1,time_1
count,6504.000000,6504.000000,6504.000000,6504.000000,6504.000000,6504.000000,6504.0
mean,745.144834,46.892066,0.291205,0.983702,74.107011,1.516759,0.0
std,431.505517,45.795986,0.851450,0.194604,39.438188,0.502825,0.0
min,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.0
25%,60.000000,5.000000,0.000000,1.000000,30.000000,1.000000,0.0
50%,997.000000,7.000000,0.000000,1.000000,97.000000,2.000000,0.0
75%,997.000000,97.000000,0.000000,1.000000,97.000000,2.000000,0.0
max,999.000000,98.000000,9.000000,8.000000,98.000000,6.000000,0.0

In [75]:
# Need to fix some broken data here
new_df_map['ds1']['drugs_1'] = pd.to_numeric(new_df_map['ds1']['drugs_1'], errors='coerce')

In [76]:
# Check some stats from table
new_df_map['ds1'].loc[new_df_map['ds1']['marijuana_1'] > 995, 'marijuana_1'] = np.NaN
new_df_map['ds1'].loc[new_df_map['ds1']['alcohol_1'] > 95, 'alcohol_1'] = np.NaN
new_df_map['ds1'].loc[new_df_map['ds1']['drugs_1'] > 95, 'drugs_1'] = np.NaN
new_df_map['ds1'].loc[new_df_map['ds1']['attendance_1'] > 5, 'attendance_1'] = np.NaN
new_df_map['ds1'].loc[new_df_map['ds1']['behavior_1'] > 5, 'behavior_1'] = np.NaN
new_df_map['ds1'].loc[new_df_map['ds1']['smoking_1'] > 95, 'smoking_1'] = np.NaN
new_df_map['ds1'].describe()
# Yay, these all align!

,marijuana_1,alcohol_1,drugs_1,behavior_1,attendance_1,smoking_1,sex_1,time_1
count,1655.000000,3545.000000,6402.000000,6443.000000,6501.000000,1653.000000,6504.000000,6504.0
mean,7.219940,5.067419,1.103405,0.229241,0.980772,6.921355,1.516759,0.0
std,35.201338,1.493296,3.899566,0.559196,0.137335,8.178834,0.502825,0.0
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0
25%,0.000000,4.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.0
50%,1.000000,5.000000,0.000000,0.000000,1.000000,4.000000,2.000000,0.0
75%,4.000000,6.000000,0.000000,0.000000,1.000000,10.000000,2.000000,0.0
max,800.000000,7.000000,18.000000,3.000000,1.000000,89.000000,6.000000,0.0

In [77]:
# Only 3342 consistent IDs throughout experiment?
full_df

,AID,marijuana_1,alcohol_1,drugs_1,behavior_1,attendance_1,smoking_1,age_1,sex_1,asian_1,...,time_3,marijuana_4,alcohol_4,drugs_4,behavior_4,attendance_4,smoking_4,age_4,sex_4,time_4
0,57101310,997,5,0,0,1,8,17,2,0,...,6,97,2,0,0,0,4,0,2,13
1,57103869,998,97,98,0,1,1,,1,,...,6,1,97,0,0,0,2,0,1,13
2,57109625,0,5,0,1,1,97,13,1,0,...,6,6,5,1,0,0,997,0,1,13
3,57111071,997,97,0,0,1,97,13,1,0,...,6,97,4,1,0,0,997,0,1,13
4,57113943,997,97,0,0,1,97,15,1,0,...,6,0,1,0,0,0,997,0,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,99718925,997,97,0,0,1,97,14,1,0,...,6,97,97,0,0,0,20,0,1,13
3338,99718944,997,97,0,0,1,97,13,1,0,...,6,97,4,0,0,1,997,0,1,13
3339,99719378,997,97,0,0,1,97,,2,,...,6,97,4,0,0,0,4,0,2,13
3340,99719930,997,97,0,0,1,97,12,2,0,...,6,97,1,0,0,0,997,0,2,13
3341,99719976,997,97,0,0,1,97,,2,,...,6,6,1,0,0,0,26,0,2,13

In [78]:
# List of AIDs
AIDs = list(full_df['AID'])

In [79]:
# Ages of participants
ages = full_df[['AID', 'age_1']]
ages.rename({'age_1':'age'}, axis=1, inplace=True)
ages.set_index('AID', inplace=True)

/Users/lucasrosenblatt/opt/miniconda3/envs/heuristic_fairness/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [80]:
# Hispanic identity of participants
hispanic = full_df[['AID', 'hispanic_3']]
hispanic.rename({'hispanic_3':'hispanic'}, axis=1, inplace=True)
hispanic.set_index('AID', inplace=True)

## Constructing data as constructed by (Adzrago et. al)

It seems clear that each datapoint was independent of others when fed into the linear model.

Need to filter out AIDs that were not continous through entire study...

In [81]:
dfs = []
new_df_map = {}
for i, (wave, cols) in enumerate(column_map.items()):
    df = df_map[wave]
    df = df[['AID'] + list(cols.keys())]
    
    # Here, we remove the numbering
    new_col_names = {}
    for k,v in cols.copy().items():
        new_col_names[k] = v.split('_')[0]
    
    df = df.rename(new_col_names, axis=1)
    df['time'] = time_map[wave]

    # Filter AIDs here
    df = df[df['AID'].isin(AIDs)]

    # Add proper age
    df.set_index('AID', inplace=True)
    age = 'age'+str(i)
    ages_here = ages.rename({'age':age}, axis=1)
    ages_here[age] = pd.to_numeric(ages_here[age], errors="coerce")
    ages_here.loc[ages_here[age].notna(), age] += time_map[wave]
    df = pd.concat([df, ages_here], axis=1, join='inner')
    
    # Assign hispanic
    h = 'hispanic'+str(i)
    hispanic_here = hispanic.rename({'hispanic':h}, axis=1)
    df = pd.concat([df, hispanic_here], axis=1, join='inner')

    df.reset_index(inplace=True)
    
    dfs.append(df)
    new_df_map[wave] = df

full_df = pd.concat(dfs, axis=0, ignore_index=True)#.reset_index()

# Fix age columns
full_df['full_age'] = 0
age_cols = ['age0','age1','age2','age3']
full_df['full_age'] = full_df[age_cols].apply(
    lambda x: ''.join(x.dropna().astype(str)),
    axis=1
)
full_df['full_age'] = pd.to_numeric(full_df['full_age'], errors="coerce")
full_df = full_df.drop(age_cols+['age'],axis=1)
full_df.rename({'full_age':'age'}, axis=1, inplace=True)

# Fix hispanic column
hispanic_cols = ['hispanic0','hispanic1','hispanic2','hispanic3']
full_df['full_hispanic'] = full_df[hispanic_cols].apply(
    lambda x: ''.join(x.dropna().astype(str)),
    axis=1
)
full_df = full_df.drop(hispanic_cols+['hispanic'],axis=1)
full_df.rename({'full_hispanic':'hispanic'}, axis=1, inplace=True)

# Fix race columns
race_cols = ['asian','black','white','nativeamerican','other']
race = dfs[0][['AID'] + race_cols]
race.set_index('AID', inplace=True)

for i, row in full_df.iterrows():
    for c in race_cols:
        full_df.at[i,c] = race.loc[row['AID'],c]

In [84]:
# Need to fix some broken data here
full_df['drugs'] = pd.to_numeric(full_df['drugs'], errors='coerce')
full_df['marijuana'] = pd.to_numeric(full_df['marijuana'], errors='coerce')
full_df['alcohol'] = pd.to_numeric(full_df['alcohol'], errors='coerce')
full_df['attendance'] = pd.to_numeric(full_df['attendance'], errors='coerce')
full_df['behavior'] = pd.to_numeric(full_df['behavior'], errors='coerce')
full_df['smoking'] = pd.to_numeric(full_df['smoking'], errors='coerce')

# Fix missing vals
full_df.loc[full_df['marijuana'] > 995, 'marijuana'] = np.NaN
full_df.loc[full_df['alcohol'] > 95, 'alcohol'] = np.NaN
full_df.loc[full_df['drugs'] > 95, 'drugs'] = np.NaN
full_df.loc[full_df['attendance'] > 5, 'attendance'] = np.NaN
full_df.loc[full_df['behavior'] > 5, 'behavior'] = np.NaN
full_df.loc[full_df['smoking'] > 95, 'smoking'] = np.NaN

In [90]:
full_df

,AID,marijuana,alcohol,drugs,behavior,attendance,smoking,sex,asian,black,white,nativeamerican,other,time,age,hispanic
0,57101310,NaN,5.0,0.0,0.0,1.0,8.0,2,0,1,0,0,0,0,17.0,0.0
1,57103869,NaN,NaN,NaN,0.0,1.0,1.0,1,,,,,,0,NaN,0.0
2,57109625,0.0,5.0,0.0,1.0,1.0,NaN,1,0,0,0,0,1,0,13.0,0.0
3,57111071,NaN,NaN,0.0,0.0,1.0,NaN,1,0,0,1,0,0,0,13.0,0.0
4,57113943,NaN,NaN,0.0,0.0,1.0,NaN,1,0,0,0,0,1,0,15.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13363,99718925,97.0,NaN,0.0,0.0,0.0,20.0,1,0,0,1,0,0,13,27.0,0.0
13364,99718944,97.0,4.0,0.0,0.0,1.0,NaN,1,0,0,1,0,0,13,26.0,0.0
13365,99719378,97.0,4.0,0.0,0.0,0.0,4.0,2,,,,,,13,NaN,0.0
13366,99719930,97.0,1.0,0.0,0.0,0.0,NaN,2,0,1,0,0,0,13,25.0,0.0
13367,99719976,6.0,1.0,0.0,0.0,0.0,26.0,2,,,,,,13,NaN,0.0

## Starting to replicate numbers from the paper
Now that we have the data in order, we need to start checking if we can replicate numbers from the paper's model.

TODO: Reformat below to build a model with all covariates, not just one:

https://www.statsmodels.org/dev/generated/statsmodels.regression.mixed_linear_model.MixedLM.html

In [95]:
# Test
smoking_time_sex = full_df[['smoking','time','sex']].dropna()
smoking_time_sex

       smoking  time  sex
0          8.0     0    2
1          1.0     0    1
8          1.0     0    1
9          1.0     0    2
10         3.0     0    2
...        ...   ...  ...
13360     13.0    13    1
13361      4.0    13    2
13363     20.0    13    1
13365      4.0    13    2
13367     26.0    13    2

[4178 rows x 3 columns]

In [96]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
model = 'smoking ~ time'
md = smf.mixedlm(model, data=smoking_time_sex, groups=smoking_time_sex["sex"])
mdf = md.fit()
print(mdf.summary())

          Mixed Linear Model Regression Results
=========================================================
Model:            MixedLM Dependent Variable: smoking
No. Observations: 4178    Method:             REML
No. Groups:       2       Scale:              69.4746
Min. group size:  2006    Log-Likelihood:     -14793.0105
Max. group size:  2172    Converged:          Yes
Mean group size:  2089.0
----------------------------------------------------------
            Coef.  Std.Err.    z     P>|z|  [0.025  0.975]
----------------------------------------------------------
Intercept   6.955     1.440   4.828  0.000   4.132   9.778
time        0.309     0.025  12.479  0.000   0.261   0.358
Group Var   4.078
=========================================================

/Users/lucasrosenblatt/opt/miniconda3/envs/heuristic_fairness/lib/python3.8/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/Users/lucasrosenblatt/opt/miniconda3/envs/heuristic_fairness/lib/python3.8/site-packages/statsmodels/regression/mixed_linear_model.py:2200: ConvergenceWarning: Retrying MixedLM optimization with lbfgs
  warnings.warn(
/Users/lucasrosenblatt/opt/miniconda3/envs/heuristic_fairness/lib/python3.8/site-packages/statsmodels/regression/mixed_linear_model.py:2261: ConvergenceWarning: The Hessian matrix at the estimated parameter values is not positive definite.
  warnings.warn(msg, ConvergenceWarning)