TODO: I will add a requirements file for this stuff

In [ ]:
! pip install smartnoise-synth

In [ ]:
! pip install git+https://github.com/ryan112358/private-pgm.git

In [ ]:
! pip install diffprivlib

In [ ]:
! pip install DataSynthesizer

## Use PrivateDataGenerator to generate datasets for each publication

In [2]:
from private_data_generator import PrivateDataGenerator
from lee2021ability.lee2021ability import Lee2021Ability

publication = Lee2021Ability(filename='lee2021ability_dataframe.pickle')
private_data_generator = PrivateDataGenerator(publication)
private_data_generator.generate()

math          [99.1403, 72.4904, 75.4243, 60.028999999999996...
teacher       [2.2, 2.6, 1.6, 3.0, 2.4, 2.0, 1.4, 1.8, 2.8, ...
ability       [3.5, 3.25, 3.0, 4.0, 3.75, 2.25, 2.75, 2.5, 2...
parents       [0.6, 0.0, 0.8, 0.9, 0.5, 0.7, 0.2, 0.1, 0.4, ...
sex                                                      [0, 1]
race                                         [0, 1, 2, 3, 4, 5]
SES           [3.5975, 1.5145, 3.0339, 1.4294, 2.0149, 2.991...
base_math     [50.4919, 35.8045, 56.0477, 38.4063, 55.5463, ...
base_level    [6.0, 2.0, 5.0, 3.0, 4.0, 8.0, 1.0, 0.0, 7.0, ...
dtype: object
math          14364
teacher          16
ability          13
parents          11
sex               2
race              6
SES            9060
base_math     14301
base_level       10
dtype: int64
Generating: lee2021ability
EPSILON: e^-1...
ITERATION: 0...
math          [62, 64, 76, 61, 70, 82, 95, 59, 90, 97, 60, 4...
sex                                                      [1, 0]
race                                            [1, 4, 2, 0, 3]
teacher                                               [2, 1, 3]
ability                                         [0, 2, 3, 4, 1]
parents                                                     [0]
SES                                          [2, 3, 1, 0, 5, 4]
base_math     [20, 40, 34, 49, 51, 43, 21, 33, 42, 36, 37, 5...
base_level               [4, 5, 3, 6, 11, 0, 8, 9, 2, 7, 1, 10]
dtype: object
math          116
sex             2
race            5
teacher         3
ability         5
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 1...
math          [65, 61, 60, 66, 100, 67, 94, 52, 75, 63, 92, ...
sex                                                      [1, 0]
race                                            [0, 3, 1, 2, 4]
teacher                                         [1, 2, 0, 3, 4]
ability                                         [4, 3, 2, 0, 1]
parents                                                     [0]
SES                                          [1, 2, 0, 5, 3, 4]
base_math     [35, 52, 43, 46, 38, 48, 50, 51, 37, 58, 49, 2...
base_level               [3, 4, 1, 5, 8, 0, 7, 2, 6, 11, 9, 10]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         5
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 2...
math          [48, 64, 78, 61, 77, 34, 67, 73, 65, 69, 76, 6...
sex                                                      [1, 0]
race                                            [0, 3, 2, 1, 4]
teacher                                         [2, 1, 3, 0, 4]
ability                                            [2, 3, 4, 1]
parents                                                     [0]
SES                                          [4, 3, 5, 2, 1, 0]
base_math     [29, 46, 36, 52, 28, 64, 49, 40, 45, 38, 27, 3...
base_level               [4, 5, 0, 3, 1, 6, 9, 8, 7, 2, 11, 10]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         4
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 3...
math          [94, 69, 65, 59, 81, 61, 76, 43, 73, 53, 74, 6...
sex                                                      [1, 0]
race                                            [0, 1, 2, 4, 3]
teacher                                         [2, 1, 3, 0, 4]
ability                                            [2, 3, 4, 1]
parents                                                     [0]
SES                                          [5, 0, 3, 2, 4, 1]
base_math     [37, 47, 48, 34, 43, 39, 59, 53, 41, 54, 44, 2...
base_level                                   [6, 4, 5, 3, 8, 0]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         4
parents         1
SES             6
base_math      70
base_level      6
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 4...
math          [63, 60, 94, 72, 58, 1, 69, 76, 73, 70, 92, 66...
sex                                                      [1, 0]
race                                            [3, 0, 4, 2, 1]
teacher                                         [3, 2, 4, 1, 0]
ability                                            [4, 2, 3, 1]
parents                                                     [0]
SES                                          [1, 2, 0, 4, 3, 5]
base_math     [23, 46, 51, 31, 36, 45, 37, 60, 20, 58, 52, 4...
base_level               [9, 8, 4, 2, 6, 7, 5, 3, 0, 1, 11, 10]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         4
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
EPSILON: e^0...
ITERATION: 0...
math          [81, 41, 80, 98, 61, 67, 42, 74, 34, 105, 79, ...
sex                                                      [0, 1]
race                                            [0, 3, 2, 1, 4]
teacher                                         [1, 2, 3, 0, 4]
ability                                         [3, 0, 4, 1, 2]
parents                                                     [0]
SES                                          [3, 1, 2, 0, 5, 4]
base_math     [23, 54, 48, 47, 38, 63, 35, 46, 44, 25, 60, 3...
base_level               [5, 4, 0, 3, 6, 8, 7, 11, 9, 1, 10, 2]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         5
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 1...
math          [63, 74, 76, 97, 91, 50, 69, 89, 58, 56, 45, 6...
sex                                                      [0, 1]
race                                            [0, 4, 3, 1, 2]
teacher                                         [2, 1, 3, 0, 4]
ability                                            [4, 3, 2, 1]
parents                                                     [0]
SES                                          [1, 2, 3, 0, 5, 4]
base_math     [62, 37, 54, 38, 26, 60, 35, 50, 44, 25, 40, 5...
base_level               [2, 4, 3, 8, 1, 7, 5, 6, 11, 0, 9, 10]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         4
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 2...
math          [85, 76, 73, 91, 42, 63, 26, 96, 68, 56, 72, 7...
sex                                                      [0, 1]
race                                            [2, 0, 4, 1, 3]
teacher                                         [1, 2, 4, 0, 3]
ability                                            [3, 2, 4, 1]
parents                                                     [0]
SES                                          [1, 3, 0, 2, 4, 5]
base_math     [52, 56, 35, 46, 55, 41, 42, 40, 51, 20, 62, 3...
base_level                             [5, 4, 6, 0, 3, 8, 1, 2]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         4
parents         1
SES             6
base_math      70
base_level      8
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 3...
math          [85, 90, 39, 59, 64, 33, 36, 71, 60, 88, 91, 9...
sex                                                      [1, 0]
race                                            [0, 4, 3, 2, 1]
teacher                                               [2, 1, 3]
ability                                         [3, 4, 2, 1, 0]
parents                                                     [0]
SES                                          [0, 5, 1, 2, 3, 4]
base_math     [27, 58, 2, 24, 61, 42, 31, 56, 57, 44, 41, 35...
base_level               [4, 5, 6, 8, 10, 2, 0, 11, 7, 3, 1, 9]
dtype: object
math          116
sex             2
race            5
teacher         3
ability         5
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 4...
math          [85, 74, 42, 60, 66, 65, 47, 62, 111, 46, 73, ...
sex                                                      [0, 1]
race                                            [0, 2, 1, 3, 4]
teacher                                               [2, 1, 3]
ability                                         [3, 2, 4, 1, 0]
parents                                                     [0]
SES                                          [4, 1, 2, 3, 5, 0]
base_math     [37, 66, 59, 60, 50, 27, 25, 44, 21, 18, 65, 4...
base_level                          [5, 4, 6, 0, 8, 3, 1, 2, 7]
dtype: object
math          116
sex             2
race            5
teacher         3
ability         5
parents         1
SES             6
base_math      70
base_level      9
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
EPSILON: e^1...
ITERATION: 0...
math          [37, 54, 79, 59, 68, 40, 73, 39, 93, 53, 75, 8...
sex                                                      [1, 0]
race                                            [0, 2, 1, 3, 4]
teacher                                               [2, 3, 1]
ability                                         [2, 4, 3, 1, 0]
parents                                                     [0]
SES                                          [2, 0, 5, 3, 1, 4]
base_math     [37, 48, 47, 25, 17, 16, 29, 46, 51, 44, 43, 4...
base_level                             [5, 4, 6, 8, 1, 3, 0, 2]
dtype: object
math          116
sex             2
race            5
teacher         3
ability         5
parents         1
SES             6
base_math      70
base_level      8
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 1...
math          [95, 63, 78, 68, 52, 72, 76, 94, 87, 59, 60, 6...
sex                                                      [0, 1]
race                                            [2, 3, 0, 1, 4]
teacher                                         [2, 1, 3, 4, 0]
ability                                         [3, 4, 2, 1, 0]
parents                                                     [0]
SES                                          [2, 1, 0, 3, 4, 5]
base_math     [47, 33, 25, 12, 2, 31, 36, 37, 49, 48, 17, 35...
base_level               [6, 4, 5, 3, 0, 7, 8, 10, 2, 1, 11, 9]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         5
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 2...
math          [35, 57, 66, 67, 88, 62, 103, 64, 63, 70, 85, ...
sex                                                      [1, 0]
race                                            [2, 0, 4, 3, 1]
teacher                                         [2, 1, 3, 0, 4]
ability                                            [2, 3, 4, 1]
parents                                                     [0]
SES                                          [1, 5, 2, 0, 4, 3]
base_math     [44, 35, 67, 25, 33, 47, 40, 64, 51, 38, 41, 6...
base_level               [8, 0, 5, 4, 6, 2, 3, 1, 7, 10, 11, 9]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         4
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 3...
math          [62, 89, 69, 105, 90, 55, 52, 41, 107, 75, 103...
sex                                                      [0, 1]
race                                            [3, 0, 2, 4, 1]
teacher                                               [1, 2, 3]
ability                                         [4, 2, 3, 1, 0]
parents                                                     [0]
SES                                          [2, 1, 4, 0, 3, 5]
base_math     [50, 25, 57, 32, 9, 64, 37, 40, 17, 20, 52, 66...
base_level               [3, 11, 4, 6, 5, 7, 1, 8, 9, 0, 2, 10]
dtype: object
math          116
sex             2
race            5
teacher         3
ability         5
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 4...
math          [42, 85, 60, 73, 84, 38, 71, 46, 66, 97, 40, 7...
sex                                                      [0, 1]
race                                            [0, 2, 4, 1, 3]
teacher                                               [2, 1, 3]
ability                                         [2, 3, 1, 4, 0]
parents                                                     [0]
SES                                          [2, 5, 1, 3, 0, 4]
base_math     [35, 41, 57, 32, 42, 18, 16, 2, 65, 68, 51, 61...
base_level                          [5, 3, 4, 6, 8, 0, 1, 2, 7]
dtype: object
math          116
sex             2
race            5
teacher         3
ability         5
parents         1
SES             6
base_math      70
base_level      9
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
EPSILON: e^2...
ITERATION: 0...
math          [102, 35, 64, 63, 85, 65, 60, 66, 30, 98, 40, ...
sex                                                      [1, 0]
race                                            [0, 1, 4, 2, 3]
teacher                                         [1, 2, 3, 0, 4]
ability                                            [3, 2, 4, 1]
parents                                                     [0]
SES                                          [2, 3, 1, 4, 5, 0]
base_math     [46, 32, 54, 26, 40, 16, 47, 39, 48, 60, 44, 5...
base_level               [4, 5, 8, 1, 3, 0, 6, 11, 7, 2, 9, 10]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         4
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 1...
math          [74, 101, 81, 69, 65, 86, 109, 62, 78, 103, 39...
sex                                                      [0, 1]
race                                            [0, 4, 2, 3, 1]
teacher                                               [2, 1, 3]
ability                                            [2, 3, 4, 1]
parents                                                     [0]
SES                                          [0, 1, 5, 2, 3, 4]
base_math     [63, 47, 35, 17, 54, 26, 31, 66, 53, 49, 64, 3...
base_level                             [4, 8, 5, 6, 2, 3, 0, 1]
dtype: object
math          116
sex             2
race            5
teacher         3
ability         4
parents         1
SES             6
base_math      70
base_level      8
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 2...
math          [69, 63, 85, 76, 59, 101, 55, 92, 68, 105, 56,...
sex                                                      [0, 1]
race                                            [4, 0, 3, 2, 1]
teacher                                               [1, 2, 3]
ability                                            [4, 2, 3, 1]
parents                                                     [0]
SES                                          [1, 4, 2, 3, 5, 0]
base_math     [43, 63, 46, 48, 25, 32, 68, 54, 21, 39, 51, 2...
base_level                             [4, 0, 5, 6, 8, 1, 3, 2]
dtype: object
math          116
sex             2
race            5
teacher         3
ability         4
parents         1
SES             6
base_math      70
base_level      8
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 3...
math          [73, 52, 67, 38, 55, 82, 108, 72, 92, 68, 70, ...
sex                                                      [1, 0]
race                                            [0, 1, 3, 4, 2]
teacher                                               [2, 1, 3]
ability                                         [3, 4, 2, 1, 0]
parents                                                     [0]
SES                                          [2, 1, 5, 0, 4, 3]
base_math     [17, 29, 42, 41, 53, 43, 28, 27, 18, 38, 21, 6...
base_level                          [4, 5, 0, 1, 3, 8, 6, 2, 7]
dtype: object
math          116
sex             2
race            5
teacher         3
ability         5
parents         1
SES             6
base_math      70
base_level      9
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.
ITERATION: 4...
math          [72, 60, 55, 32, 90, 43, 80, 65, 111, 104, 67,...
sex                                                      [1, 0]
race                                            [4, 0, 2, 1, 3]
teacher                                         [3, 2, 1, 4, 0]
ability                                            [1, 3, 4, 2]
parents                                                     [0]
SES                                          [2, 1, 4, 5, 0, 3]
base_math     [43, 19, 49, 53, 12, 69, 45, 39, 34, 26, 67, 4...
base_level               [4, 5, 3, 0, 6, 8, 2, 1, 7, 11, 10, 9]
dtype: object
math          116
sex             2
race            5
teacher         5
ability         4
parents         1
SES             6
base_math      70
base_level     12
dtype: int64
DONE: MST.
DONE: PATECTGAN.
DONE: PrivBayes.

In [5]:
publication.dataframe.describe()

,math,teacher,ability,parents,SES,base_math,base_level,W1PARENT
count,14575.000000,14575.000000,14575.000000,14575.000000,14575.000000,14575.000000,14575.00000,14575.000000
mean,69.946709,2.233729,2.975077,0.613914,0.148680,42.115971,4.36789,198.277560
std,18.729319,0.525176,0.643115,0.236105,0.789495,11.610209,1.45867,296.955235
min,25.005700,1.000000,1.000000,0.000000,-1.906800,15.864100,0.00000,0.000000
25%,58.915250,1.800000,2.750000,0.500000,-0.427050,34.508650,4.00000,28.870128
50%,69.429700,2.200000,3.000000,0.600000,0.092500,42.208800,4.00000,122.696317
75%,85.156150,2.600000,3.500000,0.800000,0.676300,50.709000,5.00000,276.507522
max,115.100000,4.000000,4.000000,1.000000,2.978300,69.931700,11.00000,7603.292220

In [1]:
from private_data_generator import PrivateDataGenerator
from iverson22football.iverson22football import Iverson22Football

publication = Iverson22Football(filename='iverson22football_dataframe.pickle')
private_data_generator = PrivateDataGenerator(publication, slide_range=True)
private_data_generator.generate()

/Users/lucasrosenblatt/opt/miniconda3/envs/heuristic_fairness/lib/python3.8/site-packages/mbi/__init__.py:15: UserWarning: MixtureInference disabled, please install jax and jaxlib
  warnings.warn('MixtureInference disabled, please install jax and jaxlib')

BIO_SEX                                                  [1]
S44A21                                       [0.0, 1.0, nan]
H1GI9                                     [1, 2, 3, 4, 5, 8]
H5OD11     [8.0, 3.0, 6.0, 4.0, 2.0, 7.0, 11.0, 10.0, 16....
S1         [13.0, 14.0, 15.0, 16.0, 19.0, 12.0, 17.0, 18....
IYEAR5                                    [2017, 2018, 2016]
IMONTH5              [2, 4, 7, 9, 6, 8, 3, 5, 12, 1, 11, 10]
H1GI1Y                  [81, 80, 79, 78, 82, 77, 76, 75, 74]
H1GI1M               [6, 9, 1, 2, 10, 7, 4, 11, 5, 12, 8, 3]
H5ID6G                                            [0.0, 1.0]
H5MN8                                             [0.0, 1.0]
S44A18                                       [0.0, 1.0, nan]
S44A19                                       [1.0, 0.0, nan]
S44A20                                       [0.0, 1.0, nan]
S44A22                                       [0.0, 1.0, nan]
S44A23                                       [0.0, 1.0, nan]
S44A24                                       [0.0, 1.0, nan]
S44A25                                       [0.0, 1.0, nan]
S44A26                                       [0.0, 1.0, nan]
S44A27                                       [0.0, 1.0, nan]
S44A28                                       [0.0, 1.0, nan]
S44A29                                       [1.0, 0.0, nan]
H1HS3                                           [0, 1, 6, 8]
H1SU1                                           [0, 1, 6, 8]
H5ID6I                                       [0.0, 1.0, nan]
H5ID13                                       [0.0, 1.0, nan]
H5SS0B                             [1.0, 4.0, 2.0, 3.0, nan]
dtype: object
BIO_SEX     1
S44A21      3
H1GI9       6
H5OD11     16
S1         10
IYEAR5      3
IMONTH5    12
H1GI1Y      9
H1GI1M     12
H5ID6G      2
H5MN8       2
S44A18      3
S44A19      3
S44A20      3
S44A22      3
S44A23      3
S44A24      3
S44A25      3
S44A26      3
S44A27      3
S44A28      3
S44A29      3
H1HS3       4
H1SU1       4
H5ID6I      3
H5ID13      3
H5SS0B      5
dtype: int64
Generating: iverson22football
EPSILON: e^-1...
ITERATION: 0...
DONE: MST.

TypeError: 'numpy.ndarray' object is not callable