# import numpy as np
import pandas as pd

In [2]:
kwargs = {"sep": "\t", "low_memory": False}
ds1 = pd.read_csv("../adzrago22smoking/data/21600-0001-Data.tsv", **kwargs)
ds5 = pd.read_csv("../adzrago22smoking/data/21600-0005-Data.tsv", **kwargs)
ds8 = pd.read_csv("../adzrago22smoking/data/21600-0008-Data.tsv", **kwargs)
ds22 = pd.read_csv("../adzrago22smoking/data/21600-0022-Data.tsv", **kwargs)

In [3]:
ds1.shape

(6504, 2794)

In [28]:
ds22.shape

(5114, 920)

In [8]:
df_map = {"ds1": ds1, "ds5": ds5, "ds8": ds8, "ds22": ds22}

time_map = {"ds1": 0, "ds5": 1, "ds8": 6, "ds22": 13}

column_map = {
    "ds1": {
        "H1TO32": "marijuana_1",
        "H1TO15": "alcohol_1",
        "H1TO40": "drugs_1",
        "H1DS2": "behavior_1",
        "H1GI18": "attendance_1",
        "H1TO7": "smoking_1",
        "S1": "age_1",
        "BIO_SEX": "sex_1",
        "S6C": "asian_1",
        "S6B": "black_1",
        "S6A": "white_1",
        "S6D": "nativeamerican_1",
        "S6E": "other_1"
        #'S4': 'hispanic_1'
    },
    "ds5": {
        "H2TO46": "marijuana_2",
        "H2TO19": "alcohol_2",
        "H2TO58": "drugs_2",
        "H2DS2": "behavior_2",
        "H2GI6": "attendance_2",
        "H2TO7": "smoking_2",
        "CALCAGE2": "age_2",
        "BIO_SEX2": "sex_2",
    },
    "ds8": {
        "H3TO110": "marijuana_3",
        "H3TO38": "alcohol_3",
        "H3TO117": "drugs_3",
        "H3DS1": "behavior_3",
        "H3ED23": "attendance_3",
        "H3TO10": "smoking_3",
        "FRIEND": "age_3",  # not actual column
        "BIO_SEX3": "sex_3",
        "H3OD2": "hispanic_3",
    },
    "ds22": {
        "H4TO71": "marijuana_4",
        "H4TO35": "alcohol_4",
        "H4TO65E": "drugs_4",
        "H4DS1": "behavior_4",
        "H4ED6": "attendance_4",
        "H4TO6": "smoking_4",
        "PRISON4": "age_4",  # not actual column
        "BIO_SEX4": "sex_4",
    },
}

In [9]:
dfs = []
new_df_map = {}
for i, (wave, cols) in enumerate(column_map.items()):
    df = df_map[wave]
    df = df[["AID"] + list(cols.keys())]
    df = df.rename(cols, axis=1)
    df = df.set_index("AID")
    df["time_" + str(i + 1)] = time_map[wave]
    dfs.append(df)
    new_df_map[wave] = df

full_df = pd.concat(dfs, axis=1, join="inner").reset_index()

In [17]:
# Paper says n=6504, first wave table
new_df_map["ds1"].describe()

,marijuana_1,alcohol_1,behavior_1,attendance_1,smoking_1,sex_1,time_1
count,6504.000000,6504.000000,6504.000000,6504.000000,6504.000000,6504.000000,6504.0
mean,745.144834,46.892066,0.291205,0.983702,74.107011,1.516759,0.0
std,431.505517,45.795986,0.851450,0.194604,39.438188,0.502825,0.0
min,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.0
25%,60.000000,5.000000,0.000000,1.000000,30.000000,1.000000,0.0
50%,997.000000,7.000000,0.000000,1.000000,97.000000,2.000000,0.0
75%,997.000000,97.000000,0.000000,1.000000,97.000000,2.000000,0.0
max,999.000000,98.000000,9.000000,8.000000,98.000000,6.000000,0.0

In [19]:
full_df.shape

(3342, 43)

In [21]:
[df.shape for df in new_df_map.values()]

[(6504, 14), (4834, 9), (4882, 10), (5114, 9)]